@if(documentFormArray.length) { @for(formGroup of documentFormArray.controls;
let i = $index; track formGroup ) {

<form class="formGroup" [formGroup]="documentFormArray.controls[i]">
    <div tuiGroup class="item-container">
        <div>
            <tui-select formControlName="document">
                Тип документа
                <tui-data-list-wrapper *tuiDataList [items]="documentsType">
                </tui-data-list-wrapper>
            </tui-select>
            <tui-error
                formControlName="document"
                [error]="[] | tuiFieldError | async"
            ></tui-error>
        </div>
        <div>
            <tui-input-date formControlName="issueDate">
                Дата выдачи
            </tui-input-date>
            <tui-error
                formControlName="issueDate"
                [error]="[] | tuiFieldError | async"
            ></tui-error>
        </div>
        <div>
            <tui-input formControlName="documentNumber">
                Номер документа
            </tui-input>
            <tui-error
                formControlName="documentNumber"
                [error]="[] | tuiFieldError | async"
            ></tui-error>
        </div>
        <button
            class="removeIconButton"
            appearance="icon"
            icon="tuiIconClose"
            tuiIconButton
            type="button"
            (click)="removeForm(i)"
        ></button>
    </div>
</form>
<tui-error
    [formGroup]="documentFormArray.controls[i]"
    [error]="[] | tuiFieldError | async"
></tui-error>
} }

<button
    appearance="icon"
    class="addButton"
    icon="tuiIconPlusCircleLarge"
    tuiIconButton
    type="button"
    (click)="addDocument()"
></button>

@if(documentFormArray.length) {
<div class="button-container">
    <button
        [disabled]="documentFormArray.invalid"
        (click)="submitForms()"
        size="m"
        tuiButton
        type="button"
    >
        Отправить
    </button>
    <button size="m" tuiButton type="button" (click)="resetForms()">
        Очистить
    </button>
</div>
}
