<tui-root>
    <tui-accordion class="accordion">
        <tui-accordion-item class="accordion-item">
            Данные клиента
            <div tuiAccordionItemContent>
                <app-client-info-form></app-client-info-form>
            </div>
        </tui-accordion-item>
        <tui-accordion-item class="accordion-item">
            Адрес регистрации
            <div tuiAccordionItemContent>
                <app-client-adress-form></app-client-adress-form>
            </div>
        </tui-accordion-item>
    </tui-accordion>
</tui-root>
